body {
 font-size: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 div.ui-datepicker{
    font-size: 15pt;
    background-color: lightblue;

}
 .ui-datepicker-calendar {
     background-color:lightblue;
 }
 .Slider{float:right;
         margin-top:90px
    
 }
 .JumboHeader{
     width:40%;
     float:left;
 }
 .jumbotron{
     height:515px;
 }
 .row{
     clear:both;
 }

