@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Detroit <br />
    Woodward, MI 48230-6399<br />
    <abbr title="Phone">P:</abbr>
    313.696.DPDW
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/DetroitSupportDetroit">Support Detroit </a><br />
    <strong>Marketing:</strong> <a href="http://www.dptv.org/support/">Detroit Public Television</a>
</address>

@Html.ActionLink("Back to Home Page", "Index")