@{
    ViewBag.Title = "Contact";
}
<div style="display:block; width:100%;">
    <div style="width:50%; float:left">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Detroit <br />
            Woodward, MI 48230-6399<br />
            <abbr title="Phone">P:</abbr>
            313.696.DPDW
        </address>

        <address>
            <strong>Support:</strong>   <a href="https://www.facebook.com/DetroitSupportDetroit">Support Detroit </a><br />
            <strong>Marketing:</strong> <a href="http://www.dptv.org/support/">Detroit Public Television</a>
        </address>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var map_canvas = document.getElementById('map_canvas');
            var map_options = {
                center: new google.maps.LatLng(42.335972, -83.049722),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(map_canvas, map_options)
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(42.335972, -83.049722),
                map: map,
                title: 'Detroit Events'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map_canvas"></div>
    <div style="clear:both;">
    @Html.ActionLink("Back to Home Page", "Index")
    </div>
</div>


